/* FONTS */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* VARIABLES */

:root {
  --basic-black: #000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-dark-gray: #4d4d4d;
  --basic-gray: #666666;
  --basic-light-gray: #a6a6a6;

  --basic-light: #eeeeee;
  --basic-light-blue: #d7dcde;

  --basic-white: #fff;

  --add-light1: #DFDFDF;
  --add-light2: #D5D5D5;
  --add-light3: #DBDBDB;
  --add-light4: #D7DCDE;

  --special-dark: #d7373b;
  --special-neutral: #e74246;
  --special-light: #fb565a;

  --special1-dark: #059157;
  --special1-neutral: #00bc6c;
  --special1-light: #00ca74;

  --special2-dark: #df9b0a;
  --special2-neutral: #eab534;
  --special2-light: #efc849;

  --color-map: #EDE4C6;


  --shadow: rgba(0, 1, 1, 0.1);
  --shadow-product: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 0, 0, 0.4);
}

/* GLOBAL */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-extra-dark);
 }

.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header{
  background-color: var(--basic-light);
 }

.main, .footer{
  background-color: var(--basic-white);
}

.container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  margin:0;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin:0;
}

.text__caption {
  font-weight: 700;
  text-transform: uppercase;
}

.img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
}

.link:hover {
  color: var(--special-light);
}

.link:active {
  opacity: 0.3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* BUTTONS */

.button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: var(--basic-white);
  display:inline-block;
  min-height: 20px;
  padding-top:15px;
  padding-bottom:15px;
}
.button:active {
  box-shadow: inset 0px 3px 0px var(--shadow);
}
.button--theme {
  background-color: var(--special-light);
}
.button--theme1 {
  background-color: var(--special1-light);
}
.button--theme2 {
  background-color: var(--special2-light);
}
.button--theme:hover, .button--theme4:hover {
  background-color: var(--special-neutral);
}
.button--theme1:hover {
  background-color: var(--special1-neutral);
}
.button--theme2:hover {
  background-color: var(--special2-neutral);
}
.button--theme:active, .button--theme4:active {
  background-color: var(--special-dark);
}
.button--theme1:active {
  background-color: var(--special1-dark);
}
.button--theme2:active {
  background-color: var(--special2-dark);
}

.button--theme3, .button--theme4 {
  background-color: var(--basic-light) ;
  color: var(--basic-black);
}
.button--theme3:hover {
  background-color: var(--add-light1 ) ;
 }

.button--theme3:active {
  background-color: var(--add-light2 ) ;
}
.button--theme3:active span{
  opacity:0.3;
}

.button__text {
  line-height: 18px;
}
.button:active .button__text {
  opacity: 0.7;
}

/* RADIO-BUTTONS */

.radio__label {
  cursor: pointer;
  display:flex;
  align-items: center;
  column-gap:10px;
}

.radio__label::before {
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: url(/img/icons/radio-dark.svg) 0 0 no-repeat;
  flex-shrink:0;
}

.radio__input:checked + .radio__label::before {
  background: url(/img/icons/radio-dark-checked.svg) 0 0 no-repeat;
}

.radio__input:hover + .radio__label::before{
  opacity: 1;
}
.radio__input:disabled + .radio__label::before,
.radio__input:disabled + .radio__label {
  opacity: 0.3;
}

/* CHECK-BUTTONS */

.check__label {
  cursor: pointer;
  display:flex;
  column-gap:10px;
  line-height: 25px;
}

.check__label::before {
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: url(/img/icons/checkbox-dark-unchecked.svg) 0 0 no-repeat;
  flex-shrink:0;
}

.check__input:checked + .check__label::before {
  background: url(/img/icons/checkbox-dark.svg) 0 0 no-repeat;
}
.check__input:hover  + .check__label::before {
  opacity: 1;
}
.check__input:disabled + .check__label::before,
.check__input:disabled + .check__label {
  opacity: 0.3;
}

/* NAVIGATION */

.nav {
  font-weight: 500;
  font-size: 16px;
  display:grid;
  grid-template-columns: 160px 1fr 160px;
  column-gap: 20px;
}

.nav--current {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--special-neutral);
}

.site-nav, .user-nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 45px;
  align-items: flex-start;
}

.site-nav{
  justify-content:center;
}

.user-nav{
  justify-content: flex-end;
 }

 .user-nav__icon{
  display:flex;
  column-gap: 25px;
  align-items: center;
 }

.user-nav__icon::before{
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/basket.svg");
}

/* LOGO */

.logo__link {
  opacity: 1;
}

.logo__link:hover {
  opacity: 0.7;
}

.logo__link:active {
  opacity: 0.3;
}
.logo__img{
  width:160px;
  height:65px;
}


/* HEADER */

.header__nav{
 padding-top: 50px;
}

.header__site-nav {
  padding-top: 30px;
}

.header__user-nav {
   padding-top: 30px;
   max-width: 160px;
}



/* GALERY */

.galery {
  background-color: var(--basic-light);
  position: relative;
}

.galery__list {
  display:flex;
  flex-direction: column;
}

.galery__item{
  display: none;
  background-position: top right;
  background-repeat: no-repeat;
  }

  .galery__item--1{
  background-image: url("../img/all/nerds-index-slide-1-min.png");
  }
 .galery__item--2{
  background-image: url("../img/all/nerds-index-slide-2-min.png");
  }
  .galery__item--3{
  background-image: url("../img/all/nerds-index-slide-3-min.png");
  }

.galery__item--current {
  display:block;
  padding: 75px 0;
}

.galery__title {
  font-weight: 500;
 }

 .galery__text{
  margin-top: 25px;
  line-height: 24px;
 }

.galery__button {
  width: 240px;
  margin-top:40px;
 }

.galery__controls {
  position: absolute;
  bottom: 95px;
  left: 0;
  width:100%;
  display: flex;
  justify-content: center;
  z-index:2;
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 88px;
}
.button-control{
  width:18px;
  height:18px;
  border-radius: 50%;
  border: 0;
  background-color: var(--basic-white);
  color: var(--basic-white);
}

.galery__controls button.current{
  box-shadow: inset 0 0 0 5px var( --basic-white),
  inset 0 0 0 7px var( --basic-light-gray);
}

/*MAIN PAGE */

/* SERVICES */

.services__list {
  display:grid;
  column-gap: 40px;
  grid-template-columns: repeat(3,1fr);
  padding: 80px 0;
  border-bottom: 2px solid var(--basic-light);
}

.services__back {
  display:block;
  width:300px;
  height:146px;
  background-color: var( --basic-light-gray);
  background-repeat: no-repeat;
}

.services__back--1 {
  background-image: url("../img/all/illustration-1-min.png");
}

.services__back--2 {
  background-image: url("../img/all/illustration-2-min.png");
}

.services__back--3 {
  background-image: url("../img/all/illustration-3-min.png");
}

.services__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
}
.services__text{
  margin-top: 20px;
}
.services__button {
  width: 160px;
  margin-top: 30px;
}


/* ABOUT-US */
.about{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto auto;
  column-gap:40px;
  row-gap:40px;
  grid-template-areas:
  "title title img"
  "fig1 fig1 fig2";
  margin-top: 40px;
  padding: 35px 0 70px 0;
  border-bottom: 2px solid var(--basic-light);
  background-image: url("../img/logo/nerds-illustration-min.png");
  background-position: top right;
  background-repeat:no-repeat;
}
.about__description {
  grid-area: title;
}
.about__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about__text{
  margin-top:30px;
  line-height:26px;
}

.about__skills{
  grid-area: fig1;
}
.about__skillslist{
  grid-area: fig1;
  margin-left: 40px;
}
.about__skillsitem{
  position:relative;
  margin-top:24px;
}
.about__skillsitem::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var( --special-light );
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}

.about__stat {
  grid-area: fig2;
 }
.about__statlist{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  row-gap: 30px;
  margin-top: 45px;
}
.about__statvalue {
  font-weight: 700;
  font-size: 45px;
  grid-row: 1/2;
}
.about__statname {
  line-height: 18px;
  grid-row: 2/3;
}
.about__statpercent {
  font-size: 26px;
  font-weight: 700;
}

/* CLIENTS */

.clients{
  border-bottom: 2px solid var(--basic-light);
}

.clients__list{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-gap: 40px;
justify-content: center;
align-items: center;
height: 180px;
}

.clients__item {
  position: relative;
}

.clients__item::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var( --basic-light );
  height: 50px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.clients__item:last-child::after{
  display: none;
}

.clients__img{
  width: 100%;
}

.clients__link{
  opacity: 0.2;
}

.clients__link:hover {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

/* FOOTER */

.footer {
  margin-top:80px;
}

/* Contacts */

.contacts {
  background-color: var(--basic-light);
  position: relative;
}
 .contacts__map{
  background-image: url("../img/all/map&marker-min.png");
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 0 140px;
}

.contacts__img{
  background-color: var(--color-map);
}
.contacts__card{
  background: var( --basic-white );
  padding: 45px 50px 50px 50px;
  position: absolute;
  bottom: 50px;
}

.contacts__title {
  font-size: 18px;
  font-style: normal;

}
.contacts__text {
  font-style: normal;
  line-height: 18px;
  color: var(--color-map);
  margin-top: 15px;
}

.phone__text {
  margin-top: 15px;
  line-height: 18px;
  font-style: normal;
}
.phone-link{
  color: var(--color-map);
}

.contacts__button {
  width: 220px;
  margin-top: 35px;
}

/* Social buttons */

.social{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding-top:75px;
  padding-bottom:65px;
}

.social__list {
  display:flex;
  grid-column: 1/2;
}

.social__item {
  margin-right: 10px;
}

.social__button {
  display: block;
  width: 81px;
  border-radius: 50%;
  height: 81px;
  line-height: 0;
  background-color: var( --basic-light-gray);
  padding-top: 0;
  padding-bottom: 0;
  position:relative;
}

.social__button::before{
  content:"";
  position:absolute;
  top: 50%;
  transform:translate(-50%,-50%);
}

.social__icon--1.social__button::before{
  background-image: url("../img/icons/vk-icon.svg");
  width: 27px;
  height: 15px;
}

.social__icon--2.social__button::before{
  background-image: url("../img/icons/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__icon--3.social__button::before{
  background-image: url("../img/icons/insta-icon.svg");
  width: 21px;
  height: 22px;
}

.social__button:active.social__button::before{
  opacity: 0.3;
}

/* Social offer */

.social__offer{
  grid-column:2/-1;
  padding-top: 5px;
}
.social__title{
  font-size:36px;
  line-height: 36px;
  display:block;
  margin-bottom: 10px;
}

/* CONNECTION FORM */

.connection {
  display: block;
  width: 960px;
  box-shadow: 0px 20px 40px var(--shadow-modal);
  padding: 65px 100px 85px 100px;
  color: var(--basic-dark);
  position:relative;
  box-sizing: border-box;
}

.connection-header{
  display: flex;
  align-items: center;
}
.connection__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  margin-top: 0;
  margin-bottom:0;
}

.connection__form{
  display:flex;
  flex-wrap:wrap;
  padding-top:35px;
  row-gap:35px;
  justify-content:space-between;
}

.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display:block;
}

.input {
  border: 2px solid var(--basic-light-blue);
  border-radius: 3px;
  width: 350px;
  height: 50px;
  margin-top: 10px;
}

.input-multyline{
  width: 750px;
  height: 120px;
}

.input:hover {
  border-color: var(--basic-light-gray);
}

.input:focus {
  border-color: var(--basic-black);
}

.input .error {
  color: var(--special-neutral);
  border-color: var(--special-neutral);
}

.modal ::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.connection__button {
  width: 260px;
  margin-top: 15px;
}

.close-button{
  border: none;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: -10px;
  padding: 0;
  background: transparent;
}

.close-button::before {
  content:"";
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/close-cross.svg");
  opacity: 0.3;
  display: block;
}

.close-button:hover.close-button::before {
  opacity: 1;
}

.close-button:active.close-button::before,
.close-button:focus.close-button::before {
  opacity: 0.1;
}


/* CATALOG */

.catalog-title{
  text-align: center;
  margin-top: 85px;
  margin-bottom: 110px;
}

.catalog-main{
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-top: 55px;
}
/* Filters */
.filter__title, .sort__title{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Price-slider */
.range-slider{
  align-items: center;
  background-color: var(--basic-light);
  padding:40px 25px 30px 25px;
  margin-top:50px;
  border-radius: 5px;
  position:relative
}
.scale{
  height:2px;
  background-color: var(--basic-light-gray );
}
.bar{
  height:2px;
  background-color: var(--special1-light );
  width: 70%;
}
.toggle{
border-radius:50%;
height:4px;
width:4px;
background-color: var(--basic-light-gray );
border: solid 8px var(--basic-white);
box-shadow: 0 1px 1px 1px var(--basic-light-gray);
position:absolute;
top:30px;
 }
 .toggle-min{
  left:18px;
 }
.toggle-max{
  left:160px;
 }

.prices {
  display: flex;
  column-gap: 35px;
  margin-top: 40px;
}
.price-label{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.price-input{
  background-color: var(--basic-light );
  height:40px;
  width:80px;
  border:none;
  border-radius:5px;
  text-align:center;
}

/* Options */

.filter{
  margin-top:50px;
}
.options__list{
  display: flex;
  flex-direction:column;
}
.options__item{
  margin-top:15px;
  display:flex;
}
.options__item label{
  max-width: 220px;
}
.filters__button{
  margin-top:50px;
  width:100%;
}

/* Sort */
.sort{
  display:flex;
  column-gap:45px;
}
.sort__form{
  display:flex;
  column-gap:45px;
  margin-left:auto;

}

.fields__sort{
  display:flex;
  column-gap: 25px;
  flex-shrink: 0;
  max-width:500px;
  flex-wrap:wrap;
}
.fields__order{
  display:flex;
  column-gap: 20px;
}

.sort__label, .order__label{
    cursor: pointer;
    color: var(--basic-black );
    opacity: 0.3;
    font-size: 14px;
    text-transform: uppercase;
}

.order__label svg{
  fill: var(--basic-black);
}

.sort__input:checked + .sort__label,
.order__input:checked + .order__label {
  opacity: 1;
}

.sort__input:hover + .sort__label,
.order__input:hover + .order__label{
  opacity: 0.6;
}

/* Products */
.products__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin-top:50px;
}

.product__item{
  position: relative;
  width: 100%;
  min-height:580px;
}
.product__header{
  background-color: var(--basic-dark-gray);
  opacity: 0.12;
  padding-top: 13px;
  padding-left: 15px;
  height: 27px;
}
.round{
  background-color: var(--basic-light);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
}

.product__img{
  width: 100%;
  border: 2px solid var(--basic-light );
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.product__desc{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: var(--basic-light );
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
  border: 2px solid var(--basic-light );
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.product__caption{
  font-size: 18px;
  line-height: 18px;
}
.product_text{
  line-height: 18px;
}
.product_button{
  width:200px;
  margin-top:30px;
}

.product__item:hover  {
box-shadow: 0 6px 15px 0 var(--shadow-product);
}
.product__item:hover .product__header{
opacity: 1;
}
.product__item:hover .product__desc{
  display: block;
}

/* Pagination */
.pagination__list{
  display: flex;
  flex-direction:row;
  column-gap:10px;
  margin-top:55px;
}

.button__page-prev, .button__page-next{
  width: 260px;
}
.button__page {
  width: 50px;
}
.button__page-prev{
  display: none;
}
.page--current{
  background-color: var(---add-light3);
  border: 3px solid var(--add-light1 );
  box-sizing: border-box;
}


.test {
  min-height:200px;
  display: flex;
  flex-direction: row;
  background-color: #00ca74;
}
.test ul{
  display: flex;
  margin:auto;

}
