/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FONTS */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* VARIABLES */

:root {
  --basic-black: #000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-dark-gray: #4d4d4d;
  --basic-gray: #666666;
  --basic-light-gray: #a6a6a6;

  --basic-light: #eeeeee;
  --basic-light-blue: #d7dcde;

  --basic-white: #fff;

  --add-light1: #DFDFDF;
  --add-light2: #D5D5D5;
  --add-light3: #DBDBDB;
  --add-light4: #D7DCDE;

  --special-dark: #d7373b;
  --special-neutral: #e74246;
  --special-light: #fb565a;

  --special1-dark: #059157;
  --special1-neutral: #00bc6c;
  --special1-light: #00ca74;

  --special2-dark: #df9b0a;
  --special2-neutral: #eab534;
  --special2-light: #efc849;

  --color-map: #EDE4C6;

  --color-focus: #262141;

  --shadow: rgba(0, 1, 1, 0.1);
  --shadow-product: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 0, 0, 0.4);
}

/* GLOBAL */
html {
  font-size: 16px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-extra-dark);
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: var(--basic-light);
}

.main,
.footer {
  background-color: var(--basic-white);
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.w-normal {
  font-weight: 400;
}

.w-medium {
  font-weight: 500;
}

.w-bold {
  font-weight: 700;
}

.t-upper {
  text-transform: uppercase;
}

.s-small {
  font-size: 0.9rem;
}

.s-more {
  font-size: 1.125rem;
}

.s-medium {
  font-size: 1.5rem;
}

.s-large {
  font-size: 2.25rem;
}

.s-big {
  font-size: 45px;
}

.s-max {
  font-size: 55px;
}

.lh-min {
  line-height: 1;
}

.lh-small {
  line-height: 1.125;
}

.lh-medium {
  line-height: 1.25;
}

.lh-large {
  line-height: 1.5;
}


.img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
}

.link:hover {
  color: var(--special-light);
}

.link:active {
  opacity: 0.3;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* FOCUS */

input:focus+label,
button:focus,
input:focus a:focus {
  -webkit-box-shadow: 0 0 1px 2px var(--color-focus);
  box-shadow: 0 0 1px 2px var(--color-focus);
}

/* BUTTONS */

.button {
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: var(--basic-white);
  display: inline-block;
  min-height: 20px;
  cursor: pointer
}

.button:active {
  -webkit-box-shadow: inset 0px 3px 0px var(--shadow);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.button--theme {
  background-color: var(--special-light);
}

.button--theme1 {
  background-color: var(--special1-light);
}

.button--theme2 {
  background-color: var(--special2-light);
}

.button--theme:hover,
.button--theme4:hover {
  background-color: var(--special-neutral);
}

.button--theme1:hover {
  background-color: var(--special1-neutral);
}

.button--theme2:hover {
  background-color: var(--special2-neutral);
}

.button--theme:active,
.button--theme4:active {
  background-color: var(--special-dark);
}

.button--theme1:active {
  background-color: var(--special1-dark);
}

.button--theme2:active {
  background-color: var(--special2-dark);
}

.button--theme3,
.button--theme4 {
  background-color: var(--basic-light);
  color: var(--basic-black);
}

.button--theme3:hover {
  background-color: var(--add-light1);
}

.button--theme3:active {
  background-color: var(--add-light2);
}

.button--theme3:active span {
  opacity: 0.3;
}

.button__text {
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 500;
}

.button:active .button__text {
  opacity: 0.7;
}

/* RADIO-BUTTONS */

.radio__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.radio__label::before {
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: url(/img/icons/radio-dark.svg) 0 0 no-repeat;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.radio__input:checked+.radio__label::before {
  background: url(/img/icons/radio-dark-checked.svg) 0 0 no-repeat;
}

.radio__input:hover+.radio__label::before,
.radio__input:focus+.radio__label::before {
  opacity: 1;
}

.radio__input:disabled+.radio__label::before,
.radio__input:disabled+.radio__label {
  opacity: 0.3;
}

/* CHECK-BUTTONS */

.check__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  line-height: 25px;
}

.check__label::before {
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.7;
  background: url(/img/icons/checkbox-dark-unchecked.svg) 0 0 no-repeat;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.check__input:checked+.check__label::before {
  background: url(/img/icons/checkbox-dark.svg) 0 0 no-repeat;
}

.check__input:hover+.check__label::before,
.check__input:focus+.check__label::before {
  opacity: 1;
}

.check__input:disabled+.check__label::before,
.check__input:disabled+.check__label {
  opacity: 0.3;
}

/* NAVIGATION */

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 20px 1fr 20px 160px;
  grid-template-columns: 160px 1fr 160px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.nav--current {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-color: var(--special-neutral);
  text-decoration-color: var(--special-neutral);
}

.site-nav,
.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.site-nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.user-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-nav__icon::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/basket.svg");
}

/* LOGO */

.logo__link {
  opacity: 1;
}

.logo__link:hover {
  opacity: 0.7;
}

.logo__link:active {
  opacity: 0.3;
}

.logo__img {
  width: 160px;
  height: 65px;
}


/* HEADER */

.header__nav {
  padding-top: 50px;
  min-height: 65px;
}

.header__site-nav {
  padding-top: 30px;
}

.header__user-nav {
  padding-top: 30px;
  max-width: 160px;
}



/* GALERY */

.galery {
  background-color: var(--basic-light);
  position: relative;
}

.galery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.galery__item {
  display: none;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 310px;
  position: relative;
  overflow: hidden;
}

.item-text {
  display: none;
  position: absolute;
  top: -600px;
  max-width: 45%;
}

.item-text--show {
  display: block;
  -webkit-animation-name: text-on;
  animation-name: text-on;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}

.galery__item--1 {
  background-image: url("../img/all/nerds-index-slide-1-min.png");
}

.galery__item--2 {
  background-image: url("../img/all/nerds-index-slide-2-min.png");
}

.galery__item--3 {
  background-image: url("../img/all/nerds-index-slide-3-min.png");
}

.galery__item--current {
  display: block;
  -webkit-animation: slide-on 1s;
  animation: slide-on 1s;
}

.galery__item--moved {
  display: block;
  -webkit-animation: slide-off 1s;
  animation: slide-off 1s;
}

.galery__text {
  margin-top: 10px;
}

.galery__text span {
  display: block;
  padding-bottom: 25px;
}

.galery__button {
  padding: 15px 55px;
  margin-top: 45px;
  z-index: 3;
  position: relative;
}

.galery__controls {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 15px;
  max-width: 560px;
}

.button-control {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  background-color: var(--basic-white);
  color: var(--basic-white);
}

.galery__controls button.current {
  -webkit-box-shadow: inset 0 0 0 5px var(--basic-white),
    inset 0 0 0 7px var(--basic-light-gray);
  box-shadow: inset 0 0 0 5px var(--basic-white),
    inset 0 0 0 7px var(--basic-light-gray);
}

/*MAIN PAGE */

/* SERVICES */

.services__list {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 75px 0;
  border-bottom: 2px solid var(--basic-light);
}

.services__back {
  display: block;
  width: 300px;
  height: 146px;
  background-color: var(--basic-light-gray);
  background-repeat: no-repeat;
}

.services__back--1 {
  background-image: url("../img/all/illustration-1-min.png");
}

.services__back--2 {
  background-image: url("../img/all/illustration-2-min.png");
}

.services__back--3 {
  background-image: url("../img/all/illustration-3-min.png");
}

.services__title {
  margin-top: 25px;
}

.services__text {
  margin-top: 20px;
}

.services__button {
  padding: 15px 40px;
  margin-top: 30px;
  max-width: 220px;
}


/* ABOUT-US */
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 40px auto;
  grid-template-rows: auto auto;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-areas:
    "title title img"
    "fig1 fig1 fig2";
  margin-top: 40px;
  padding: 40px 0 75px 0;
  border-bottom: 2px solid var(--basic-light);
  background-image: url("../img/logo/nerds-illustration-min.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.about__description {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.about__text {
  margin-top: 35px;
}

.about__skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fig1;
}

.about__skillslist {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fig1;
  margin-left: 35px;
}

.about__skillsitem {
  position: relative;
  margin-top: 30px;
}

.about__skillsitem::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--special-light);
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about__stat {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: fig2;
}

.about__stat span {
  margin-left: 15px;
}

.about__statlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 15px auto;
  grid-template-rows: auto auto;
  row-gap: 15px;
  margin-top: 40px;
}

.about__statlist>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about__statlist>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.about__statlist>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about__statlist>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about__statlist>*:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.about__statlist>*:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.about__statlist dd {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.about__statlist dt {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

/* CLIENTS */

.clients {
  border-bottom: 2px solid var(--basic-light);
}

.clients__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 180px;
}

.clients__list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.clients__list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.clients__list>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.clients__list>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.clients__item {
  position: relative;
}

.clients__item::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--basic-light);
  height: 50px;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clients__item:last-child::after,
.clients__item:nth-child(4)::after {
  display: none;
}

.clients__item:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 2px;
  background-color: var(--basic-light);
  left: -20px;
  top: -2px;
}


.clients__img {
  max-width: 260px;
  max-height: 180px;
}

.clients__link {
  opacity: 0.2;
}

.clients__link:hover {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

/* FOOTER */

.footer {
  margin-top: 80px;
}

/* Contacts */

.contacts {
  background-color: var(--basic-light);
}

.contacts__map {
  background-image: url("../img/all/map&marker-min.png");
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 415px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contacts__img {
  background-color: var(--color-map);
}

.contacts__card {
  background: var(--basic-white);
  padding: 55px 50px 50px 50px;
  position: absolute;
  bottom: 50px;
  max-width: 240px;
  left: 140px;
}

.contacts__text {
  margin-top: 35px;
}

.phone__text {
  margin-top: 15px;
}

.contacts__button {
  padding: 15px 45px;
  margin-top: 35px;
  max-width: 250px;
}

/* Social buttons */

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  padding-top: 75px;
  padding-bottom: 65px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}


.social__button {
  display: block;
  width: 81px;
  border-radius: 50%;
  height: 81px;
  line-height: 0;
  background-color: var(--basic-light-gray);
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.social__button::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social__icon--1.social__button::before {
  background-image: url("../img/icons/vk-icon.svg");
  width: 27px;
  height: 15px;
}

.social__icon--2.social__button::before {
  background-image: url("../img/icons/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social__icon--3.social__button::before {
  background-image: url("../img/icons/insta-icon.svg");
  width: 21px;
  height: 22px;
}

.social__button:active.social__button::before {
  opacity: 0.3;
}

/* Social offer */

.social__offer {
  grid-column: 2/-1;
}

.social__title {
  display: block;
  padding: 5px 0 10px 0;
}

/* CONNECTION FORM */

.connection-modal {
  position: fixed;
  top: auto;
  right: 0;
  bottom: 180px;
  left: 0;
  margin: auto;
  width: 960px;
  -webkit-box-shadow: 0px 20px 40px var(--shadow-modal);
  box-shadow: 0px 20px 40px var(--shadow-modal);
  padding: 65px 100px 85px 100px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 3;
  display: none;
}

.modal--show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.connection-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connection__title {
  margin-top: 0;
  margin-bottom: 0;
}

.connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 35px;
  row-gap: 35px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.label {
  display: block;
}

.input {
  border: 2px solid var(--basic-light-blue);
  border-radius: 3px;
  width: 350px;
  min-height: 50px;
  margin-top: 10px;
}

.input-multyline {
  width: 750px;
  min-height: 120px;
}

.input:hover {
  border-color: var(--basic-light-gray);
}

.input:focus {
  border-color: var(--basic-black);
}

.input .error {
  color: var(--special-neutral);
  border-color: var(--special-neutral);
}

.modal ::-webkit-input-placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.modal ::-moz-placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.modal :-ms-input-placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.modal ::-ms-input-placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.modal ::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.connection__button {
  padding: 15px 85px;
  margin-top: 15px;
}

.close-button {
  border: none;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: -10px;
  padding: 0;
  background: transparent;
}

.close-button::before {
  content: "";
  width: 21px;
  height: 21px;
  background: url("../img/icons/close-cross.svg") 0 0 no-repeat;
  opacity: 0.3;
  display: block;
}

.close-button:hover.close-button::before,
.close-button:focus.close-button::before {
  opacity: 1;
}

.close-button:active.close-button::before {
  opacity: 0.1;
}


/* CATALOG */

.catalog-title {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 110px;
}

.catalog-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 140px 1fr;
  grid-template-columns: 260px 1fr;
  -webkit-column-gap: 140px;
  -moz-column-gap: 140px;
  column-gap: 140px;
  margin-top: 55px;
}

/* Filters */


/* Price-slider */
.range-slider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--basic-light);
  padding: 40px 25px 30px 25px;
  margin-top: 50px;
  border-radius: 5px;
  position: relative
}

.scale {
  height: 2px;
  background-color: var(--basic-light-gray);
}

.bar {
  height: 2px;
  background-color: var(--special1-light);
  width: 70%;
}

.toggle {
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: var(--basic-light-gray);
  border: solid 8px var(--basic-white);
  -webkit-box-shadow: 0 1px 1px 1px var(--basic-light-gray);
  box-shadow: 0 1px 1px 1px var(--basic-light-gray);
  position: absolute;
  top: 30px;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  margin-top: 40px;
}

.price-label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-input {
  background-color: var(--basic-light);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

/* Options */

.filter {
  margin-top: 50px;
}

.options__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.options__item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options__item label {
  max-width: 220px;
}

.filters__button {
  margin-top: 50px;
  padding: 15px 45px;
  width: 100%;
}

/* Sort */

.sort__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
}

.fields__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fields__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.sort__label,
.order__label {
  cursor: pointer;
  color: var(--basic-black);
  opacity: 0.3;
}

.order__label svg {
  fill: var(--basic-black);
}

.sort__input:checked+.sort__label,
.order__input:checked+.order__label {
  opacity: 1;
}

.sort__input:hover+.sort__label,
.order__input:hover+.order__label {
  opacity: 0.6;
}

.sort__input:focus+.sort__label,
.order__input:focus+.order__label {
  opacity: 0.6;
}

/* Products */
.products__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 30px;
  margin-top: 50px;
}

.product__item {
  position: relative;
  width: 100%;
  min-height: 580px;
}

.product__header {
  background-color: var(--basic-dark-gray);
  opacity: 0.12;
  padding-top: 13px;
  padding-left: 15px;
  height: 27px;
}

.round {
  background-color: var(--basic-light);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
}

.product__img {
  width: 100%;
  border: 2px solid var(--basic-light);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.product__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: var(--basic-light);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 45px;
  border: 2px solid var(--basic-light);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.product__text {
  margin-top: 15px;
}

.product__button {
  padding: 15px 70px;
  margin-top: 30px;
}

.product__item:hover {
  -webkit-box-shadow: 0 6px 15px 0 var(--shadow-product);
  box-shadow: 0 6px 15px 0 var(--shadow-product);
}

.product__item:hover .product__header {
  opacity: 1;
}

.product__item:hover .product__desc {
  display: block;
}

/* Pagination */
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 55px;
}

.button__page-prev,
.button__page-next {
  padding: 15px 75px;
}

.button__page {
  padding: 15px 20px;
}

.button__page-prev {
  display: none;
}

.page--current {
  background-color: var(---add-light3);
  border: 3px solid var(--add-light1);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px 17px;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}


@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}


@-webkit-keyframes slide-on {
  0% {
    width: 200px;
  }

  100% {
    width: 100%;
  }
}


@keyframes slide-on {
  0% {
    width: 200px;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes text-on {
  0% {
    top: -600px;
  }

  100% {
    top: 60px;
  }
}

@keyframes text-on {
  0% {
    top: -600px;
  }

  100% {
    top: 60px;
  }
}